<!-- templates/registration/password_reset_confirm.html -->
{% block content %}
  <div class="container mt-5">
    <h2>Establecer Nueva Contraseña</h2>
    <p>Introduce tu nueva contraseña.</p>
    
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
      </div>
      <div class="form-group">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
      </div>
      <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
    </form>
  </div>
{% endblock %}
