<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuario</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Crear Usuario</h1>
        <!-- crear_usuario.html -->
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Crear Usuario</button>
    <a href="{% url 'vista_administrador' %}" class="btn btn-secondary">Cancelar</a> <!-- Modificar aquí -->
</form>
    </div>
</body>
</html>
